<div class=" m-9 mt-0 p-5 basis-1/3 bg-gradient-to-b from-sky-300 to-sky-600 rounded-xl text-white">
  <%= link_to news.url, target: :_blank, rel: "noopener noreferrer" do %>
    <div class=" m-5">
      <% if news.urlToImage.present? %>
        <%= image_tag(news.urlToImage, class: "rounded-xl hover:opacity-75 container border border-blue-500") %>
      <% else %>
        <%= image_tag("no_image.png", class: "rounded-xl hover:opacity-75 container border border-blue-500") %> 
      <% end %>
    </div>
    <%= news.title.truncate(30) %>
  <% end %>
</div>
