<%# @ranking_by_age.each do |ranking| %>
  <%#= link_to image_tag(ranking['mediumImageUrls'][0]), ranking.url, target: :_blank, rel: "noopener noreferrer" %>
  <%#= ranking.catchcopy %>
  <%#= break if ranking.rank ==3 %>
<%# end %>

<% @ranking_by_age.each do |ranking| %>
  <table class="table-fixed">
    <tbody>
      <tr>
        <td><%= link_to image_tag(ranking['mediumImageUrls'][0]), ranking.url, target: :_blank, rel: "noopener noreferrer" %></td>
        <td><%= ranking.catchcopy %></td>
      </tr>
    </tbody>
  </table>
  <%= break if ranking.rank ==3 %>
<% end %>

