<div class="flex m-9">
    <% @ranking_by_age.each do |ranking| %>
      <div class="m-9 basis-1/3 bg-blue-500 rounded-xl">
        <div class="bg-blue-300 rounded-xl"><%= link_to image_tag(ranking['mediumImageUrls'][0]), ranking.url, target: :_blank, rel: "noopener noreferrer" %></div>
        <%= ranking.catchcopy %>
      </div>
      <%= break if ranking.rank ==3 %>
    <% end %>
</div>