<h1>結果ページ</h1>
<p>結果を表示</p>

<!-- 楽天ランキング表示 -->
<%= render partial: "rakuten-data" %>

<!--ニュース表示 -->
<%= render partial: "news-data", collection: @news, as: "news" %>

<p>Powered by <%= link_to "https://newsapi.org", target: :_blank, rel: "noopener noreferrer" do %>　News API　<% end %></p>