<div class="all-page">
  <h1 class="head1">About</h1>

  <h2 class="head2">アプリについて</h2>
  <p class="text">未経験からWEB系エンジニアを目剤している者が作成したプランニングアプリです。</p>
  <p class="text">身近な人に笑顔を与えるネタの提供サービスを目指して作りました。</p>

  <h2 class="head2">作者について</h2>
  <p class="link-text"><%= link_to "https://twitter.com/kat__log", target: :_blank, rel: "noopener noreferrer" do %>Twitter<% end %></p>
  <p class="link-text"><%= link_to "https://qiita.com/kat_log", target: :_blank, rel: "noopener noreferrer" do %>Qiita<% end %></p>
  <p class="link-text"><%= link_to "https://github.com/kat-log/planner05", target: :_blank, rel: "noopener noreferrer" do %>GitHub<% end %></p>
</div>