<div class="all-page">
  <h1 class="head1">ようこそ</h1>
  <p class="text-gray-800 text-2xl font-bold py-1">家族、友達、恋人…</p>
  <p class="text-gray-800 text-2xl font-bold py-1">大切な人を喜ばせたい時はありませんか？</p>
  <p class="text-gray-800 text-2xl font-bold py-1 mb-9 ">身近な人に笑顔を与えるネタの提供サービスです</p>
</div>

<div class="flex justify-center">
  <div>
    <%= image_tag "man_400_800.png", class: "basis-1/3" %>
  </div>
  <div class="flex absolute basis-1/3 items-center justify-center ">
    <div class="">
      <%= link_to("ご利用はこちら", choose_choose_page_path, { class: "btn " }) %>
    </div>
  </div>
  <div>
    <%= image_tag "woman_400_800.png", class: "basis-1/3" %>
  </div>
</div>