<div class="all-page">
  <h1 class="head1">ようこそ</h1>

  <p class="text-gray-800 text-2xl font-bold py-1">家族、友達、恋人…</p>
  <p class="text-gray-800 text-2xl font-bold py-1">大切な人を喜ばせたい時はありませんか？</p>
  <p class="text-gray-800 text-2xl font-bold py-1 mb-9 ">身近な人に笑顔を与えるネタの提供サービスです</p>

  <%= link_to("ご利用はこちら", choose_choose_page_path, { class: "btn" }) %>
</div>

<div class="flex">
  <div>
    <%= image_tag "man.png", class: "basis-1/2" %>
  </div>
  <div>
    <%= image_tag "woman.png", class: "basis-1/2" %>
  </div>
</div>