<div class="text-center">
  <h1 class="p-8 font-extrabold text-8xl text-gray-800">ようこそ</h1>
  <%= link_to("ご利用はこちら", choose_choose_page_path, { class: " btn " }) %>
</div>
<div class="flex">
  <div>
    <%= image_tag "man.png", class: "basis-1/2" %>
  </div>
  <div>
    <%= image_tag "woman.png", class: "basis-1/2" %>
  </div>
</div>