<div class="text-center">
  <h1 class="font-extrabold text-8xl">ようこそ</h1>
  <%= link_to("ご利用はこちら", choose_choose_page_path, { class: "m-4 drop-shadow-xl bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-blue-700 rounded-full" }) %>
</div>